@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* header section start */
.header {
    max-width: 100%;
    min-height: 652px;
    margin: 0 auto;
}

.header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}

.header .nav .nav-name {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    width: 228px;
    height: 58px;
    padding: 17px 24px 17px 24px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}

.btn-black {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    width: 228px;
    height: 58px;
    padding: 17px 24px 17px 24px;
    background: rgb(5, 4, 4);
    color: rgb(235, 236, 240);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}

.btn-black:hover {
    background-color: rgb(36, 34, 34);
}


.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/Hero-bg.png);
    background-size: cover;
    border-top: 1px dashed rgb(148, 152, 160);
    border-bottom: 1px dashed rgb(148, 152, 160);
    height: 600px;
}

.banner img {
    width: 210px;
    height: 228px;
    margin-top: 24px;
}

.banner h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0;
    max-width: 998px;
}

.banner p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 998px;
    margin: 16px 0;
}

/* header section end */


/* development section start */
.development-container {
    max-width: 1140px;
    height: 1100px;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 60px auto;
}

.title-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-description h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.title-description p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px 0;
}

.cart-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    border-radius: 16px;
    padding: 20px 48px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.cart-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    border-radius: 16px;
    padding: 20px 48px;
    gap: 45px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.card-info h3 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.card-info p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px 0;
    margin-bottom: 20px;
}

.card-info a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 10px;
    margin: 20px 0;
}


/* development section end */




/* My Inspiration  section start */
.inspiration {
    max-width: 1140px;
    padding: 80px 97px 80px 97px;
    margin: 60px auto;
}

.inspiration-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspiration-content h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.inspiration-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
}

.inspiration-iframe {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 30px;
    margin: 48px 0px;
}

.inspiration-iframe iframe {
    width: 1140px;
    height: 614px;
    border-radius: 20px;
}


/* My Inspiration  section end */

/* My Current Target start */

.target {
    max-width: 1140px;

    margin: 60px auto;
}

.target-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.target-title h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.target-title p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
}

.target-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin: 40px 0;
}

.target-card {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 16px;
}

.target-card img {
    width: 60px;
    height: 60px;
}

.target-card h3 {
    text-transform: uppercase;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px 0;
}

.target-card p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px 0;
}

.target-card a {
    color: rgb(0, 1, 3);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.bg-1 {
    background: rgba(255, 76, 30, 0.05);
}

.bg-2 {
    background: rgba(0, 76, 232, 0.05);
}

.bg-3 {

    background: rgba(255, 223, 0, 0.05);
}

/* My Current Target end */
.support {
    max-width: 1140px;
    margin: 80px auto;
}

.support-content {
    padding: 20px 0;
    background-image: url(../images/handshake.jpg);
    background-position: center;
    border-radius: 16px;
    height: 314px;
   
}

.support-content h1 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px 0;
    margin-top: 20px;
}

.support-content p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.form {
    text-align: center;
}

input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin-top: 55px;
    border: none;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.button {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(80, 59, 59);
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.footer-sec {
    max-width: 100%;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 140px;
}

.footer-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.footer-icone a{
    margin: 0 10px;
}